<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Admin Theme v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery UI -->
    <link href="~/Content/online/jquery-ui.css" rel="stylesheet" media="screen">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="~/Content/css/styles.css" rel="stylesheet">
    <link href="~/Content/online/font-awesome.css" rel="stylesheet">
    <link href="~/Content/vendors/form-helpers/css/bootstrap-formhelpers.min.css" rel="stylesheet">
    <link href="~/Content/vendors/select/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/vendors/tags/css/bootstrap-tags.css" rel="stylesheet">
    <link href="~/Content/css/forms.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script>
        //window.onload = function () {
        //    document.getElementById("studentData").style.display = 'none';

        //}
        function func1(){
            $("#roomId").hide();
            $("#updateRoom").show();
        }
        function func2() {
            $("#roomId").show();
            $("#updateRoom").hide();
        }
    </script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <!-- Logo -->
                    <div class="logo">
                        <h1><a href="/Home/index">Hostel Management System</a></h1>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="navbar navbar-inverse" role="banner">
                        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                                    <ul class="dropdown-menu animated fadeInUp">
                                        <li><a href="/Home/Logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <!-- Main menu -->
                        <li class="current"><a href="/Home/Index"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> Student Management
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="/Home/addNewStudent">Add New Student</a></li>
                                <li><a href="/Home/searchStudent">Search Student</a></li>
                                <li><a href="/Home/deleteStudent">Delete Student</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> Room Management
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="/Home/addRoom">Add New Room</a></li>
                                <li><a href="/Home/searchRoom">Search Room</a></li>
                                <li><a href="/Home/updateRoom">Update Room</a></li>
                                <li><a href="/Home/roomAllotment">Room Allotment</a></li>
                                <li><a href="/Home/addCategory">Add New Category</a></li>
                                <li><a href="/Home/updateCategory">Update Category</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> Visitor Management
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="/Home/addNewVisitor">Add New Visitor</a></li>
                                <li><a href="/Home/searchVisitor">Search Visitor</a></li>
                                <li><a href="/Home/updateVisitor">Update Visitor Record</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> Charges Management
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="/Home/addMessCharges">Add Charges</a></li>
                                <li><a href="/Home/updateMessCharges">Update Charges</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> User Management
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="/Home/addNewUser">Add New User</a></li>
                                <li><a href="/Home/searchUser">Search User</a></li>
                                <li><a href="/Home/deleteUser">Delete User</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row" id="roomId">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="content-box-header">
                            <div class="panel-title">Student ID</div>
                        </div>
                        <div class="content-box-large box-with-header">
                            <form class="form-inline" role="form">

                                <fieldset>
                                    <div class="form-group col-sm-8">
                                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter Student ID">
                                    </div>
                                    <button type="button" class="btn btn-primary btn-lg" onclick="func1()">
                                        Search
                                    </button>
                                </fieldset>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" id="updateRoom">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="content-box-large">
                            <div class="panel-heading">
                                <div class="panel-title">Add Mess Charges</div>

                                <div class="panel-options">
                                    <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                                    <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="stdName" class="col-sm-2 control-label">Student iD</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="stdName" placeholder="Enter Student ID">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="fthName" class="col-sm-2 control-label">Student Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="stdName" placeholder="Enter Student Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="fthName" class="col-sm-2 control-label">Father Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="FthName" placeholder="Enter Father Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="fthName" class="col-sm-2 control-label">Room No</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Enter Room No">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="fthName" class="col-sm-2 control-label">Charges</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Enter Charges">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="fthName" class="col-sm-2 control-label">Room Dues</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Enter Room Dues">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="h-input" class="col-sm-2 control-label">Date</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control mask-date" data-mask="99/99/9999" data-mask-placeholder="*" placeholder="Enter Date">
                                            <p class="note">
                                                Data format **/**/****
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-lg btn-primary">Enter Charges</button>
                                            <button type="submit" class="btn btn-lg btn-primary">Search Again</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">

            <div class="copy text-center">
                Copyright 2014 <a href='#'>Website</a>
            </div>

        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/online/jquery.js"></script>
    <!-- jQuery UI -->
    <script src="~/Content/online/jquery-ui.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/form-helpers/js/bootstrap-formhelpers.min.js"></script>
    <script src="~/Content/vendors/select/bootstrap-select.min.js"></script>
    <script src="~/Content/vendors/tags/js/bootstrap-tags.min.js"></script>
    <script src="~/Content/vendors/mask/jquery.maskedinput.min.js"></script>
    <script src="~/Content/vendors/moment/moment.min.js"></script>
    <script src="~/Content/vendors/wizard/jquery.bootstrap.wizard.min.js"></script>
    <!-- bootstrap-datetimepicker -->
    <link href="~/Content/vendors/bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet">
    <script src="~/Content/vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>

    <link href="~/Content/online/bootstrap-editable.css" rel="stylesheet" />
    <script src="~/Content/online/bootstrap-editable.min.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <script src="~/Content/js/forms.js"></script>
    <script>
        $(document).ready(function () {
            $("#updateRoom").hide();
        });
    </script>
</body>
</html>