<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Admin Theme v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery UI -->
    <link href="~/Content/online/jquery-ui.css" rel="stylesheet" media="screen">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="~/Content/css/styles.css" rel="stylesheet">
    <link href="~/Content/online/font-awesome.css" rel="stylesheet">
    <link href="~/Content/vendors/form-helpers/css/bootstrap-formhelpers.min.css" rel="stylesheet">
    <link href="~/Content/vendors/select/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/vendors/tags/css/bootstrap-tags.css" rel="stylesheet">
    <link href="~/Content/css/forms.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <!-- Logo -->
                    <div class="logo">
                        <h1><a href="/Home/index">Hostel Management System</a></h1>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="navbar navbar-inverse" role="banner">
                        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                                    <ul class="dropdown-menu animated fadeInUp">
                                        <li><a href="/Home/Profile">Profile</a></li>
                                        <li><a href="/Home/Login">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <!-- Main menu -->
                        <li class="current"><a href="/Home/Index"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> Student Management
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="/Home/addNewStudent">Add New Student</a></li>
                                <li><a href="/Home/searchStudent">Search Student</a></li>
                                <li><a href="/Home/deleteStudent">Delete Student</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> Room Management
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="/Home/addRoom">Add New Room</a></li>
                                <li><a href="/Home/searchRoom">Search Room</a></li>
                                <li><a href="/Home/updateRoom">Update Room</a></li>
                                <li><a href="/Home/roomAllotment">Room Allotment</a></li>
                                <li><a href="/Home/addCategory">Add New Category</a></li>
                                <li><a href="/Home/updateCategory">Update Category</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> Visitor Management
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="/Home/addNewVisitor">Add New Visitor</a></li>
                                <li><a href="/Home/searchVisitor">Search Visitor</a></li>
                                <li><a href="/Home/updateVisitor">Update Visitor Record</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> Charges Management
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="/Home/addMessCharges">Add Charges</a></li>
                                <li><a href="/Home/updateMessCharges">Update Charges</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> User Management
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="/Home/addNewUser">Add New User</a></li>
                                <li><a href="/Home/searchUser">Search User</a></li>
                                <li><a href="/Home/deleteUser">Delete User</a></li>
                            </ul>
                        </li>
                    </ul>
                    <br />
                    <br /><br /><br />
                </div>
            </div>

            <div class="col-md-10">
                <div class="row" id="studentId">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="content-box-header">
                            <div class="panel-title">Search Student</div>
                        </div>
                        <div class="content-box-large box-with-header" id="searchFormId">
                            <form class="form-inline" role="form">

                                <fieldset>
                                    <div class="form-group col-sm-8">
                                        <input type="text" class="form-control" id="searchStudentById" placeholder="Enter Student Id">
                                    </div>
                                    <button id="searchStudent" type="button" class="btn btn-primary btn-lg" data-toggle="collapse">
                                        Search
                                    </button>
                                </fieldset>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="row collapse" id="studentData">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="content-box-large">
                            <div class="panel-heading">
                                <div class="panel-title">Student Record</div>

                                <div class="panel-options">
                                    <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                                    <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" method="post" action="/Home/searchStudent">
                                    <div class="form-group">
                                        <label for="stdName" class="col-sm-2 control-label">Student Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="myform" id="stdName" placeholder="Student Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="fthName" class="col-sm-2 control-label">Father Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="myform" id="FthName" placeholder="Father Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="h-input" class="col-sm-2 control-label">Gender</label>
                                        <div class="col-sm-10">
                                            <label class="radio radio-inline">
                                                <input type="radio" name="gender" value="Male" id="male">
                                                Male
                                            </label>
                                            <label class="radio radio-inline">
                                                <input type="radio" name="gender" value="Female" id="female">
                                                Female
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="h-input" class="col-sm-2 control-label">CNIC</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control mask-date" name="myform" id="cnic" data-mask="99999-9999999-9" data-mask-placeholder="_" placeholder="CNIC">
                                            @*<span class="input-group-addon"><i class="fa fa-calendar"></i></span>*@
                                            <p class="note">
                                                Data format *****-*******-*
                                            </p>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="h-input" class="col-sm-2 control-label">D.O.B</label>
                                        <div class="col-sm-10">
                                            <input id="dob" type="date" class="form-control " required>
                                            <p class="note">
                                                Data format **/**/****
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="h-input" class="col-sm-2 control-label">Mobile</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control mask-date" data-mask="+99-999-9999999" name="myform" id="mob" data-mask-placeholder="X" placeholder="Mobile">
                                            @*<span class="input-group-addon"><i class="fa fa-calendar"></i></span>*@
                                            <p class="note">
                                                Data format +XX-XXX-XXXXXXX
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Address</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" name="myform" id="address" placeholder="Enter Address" rows="2"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="text-field">City</label>
                                        <div class="col-md-10">
                                            <input class="form-control" placeholder="Select City" type="text" list="mycity" name="myform" id="city">
                                            <datalist id="mycity">
                                                <option value="Lahore"></option>
                                                <option value="Gujranwala"></option>
                                                <option value="Karachi"></option>
                                                <option value="Islamabad"></option>
                                                <option value="Faisalabad"></option>
                                                <option value="Peshawar"></option>
                                                <option value="Haidarabad"></option>
                                                <option value="Queta"></option>
                                                <option value="Kashmir"></option>
                                                <option value="Gilgit"></option>
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="text-field">Province</label>
                                        <div class="col-md-10">
                                            <input class="form-control" placeholder="Select Province" type="text" list="myprovince" name="myform" id="province">
                                            <datalist id="myprovince">
                                                <option value="Punjab"></option>
                                                <option value="Sindh"></option>
                                                <option value="KPK"></option>
                                                <option value="Balochistan"></option>
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="text-field">Religion</label>
                                        <div class="col-md-10">
                                            <input class="form-control" placeholder="Select Religion" type="text" list="myreligion" name="myform" id="religion">
                                            <datalist id="myreligion">
                                                <option value="Islam"></option>
                                                <option value="Christianity"></option>
                                                <option value="Hinduism"></option>
                                                <option value="Budhism"></option>
                                                <option value="Jews"></option>
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-10">
                                            @*<button type="submit" class="btn btn-primary">Add</button>*@
                                            <button id="edit" type="button" class="btn btn-lg btn-primary">Edit</button>
                                            <button id="update" type="button" class="btn btn-lg btn-primary">Update Record</button>
                                            <button id="cancel" type="button" class="btn btn-lg btn-primary">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">

            <div class="copy text-center">
                Copyright 2014 <a href='#'>Website</a>
            </div>

        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/online/jquery.js"></script>
    <!-- jQuery UI -->
    <script src="~/Content/online/jquery-ui.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/form-helpers/js/bootstrap-formhelpers.min.js"></script>
    <script src="~/Content/vendors/select/bootstrap-select.min.js"></script>
    <script src="~/Content/vendors/tags/js/bootstrap-tags.min.js"></script>
    <script src="~/Content/vendors/mask/jquery.maskedinput.min.js"></script>
    <script src="~/Content/vendors/moment/moment.min.js"></script>
    <script src="~/Content/vendors/wizard/jquery.bootstrap.wizard.min.js"></script>
    <!-- bootstrap-datetimepicker -->
    <link href="~/Content/vendors/bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet">
    <script src="~/Content/vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>

    <link href="~/Content/online/bootstrap-editable.css" rel="stylesheet" />
    <script src="~/Content/online/bootstrap-editable.min.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <script src="~/Content/js/forms.js"></script>
    <script >
        $(document).ready(function () {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $('#studentData').collapse({
                toggle: false
            });
            function showMsg(class_name,msg1,msg2) {
                if ($("#alertType").length) {
                    setTimeout(function () { $("#alertType").remove(); }, 1000);
                } else {
                    var text = '    \
                            <div id="alertType" class="alert ' + class_name + '" role="alert">  \
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>    \
                                <strong>'+msg1+'</strong> '+msg2+' \
                            </div>  \
                            ';
                    var dom = $(text);
                    //$("#searchFormId").append(dom).delay(4000).queue(function () { $("#alertType").remove(); });
                    $("#searchFormId").append(dom);
                    setTimeout(function () { $("#alertType").remove(); }, 3000);
                }
                $("html, body").animate({ scrollTop: 0 }, "slow");
            }
            $("#searchStudent").click(function () {
                //var clientData = {
                //};
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Home/searchStd",
                    data: { id: $.trim($("#searchStudentById").val()) },
                    dataType: "json",
                    success: function (serverData) {
                        if (serverData) {
                            $("#studentData").collapse('show');
                            $("#studentData :input").attr("disabled", true);
                            $("#edit").attr("disabled", false);
                            $("#update").attr("disabled", false);
                            $("#cancel").attr("disabled", false);

                            $("#stdName").val(serverData["std_Name"]);
                            $("#FthName").val(serverData["FatherName"]);
                            $('[name=gender][value=' + serverData["Gender"] + ']').prop('checked', true);
                            $("#cnic").val(serverData["CNIC_No"]);
                            var temp = serverData["DateOfBirth"];
                            var date = temp.split("/");
                            var day = date[0];
                            var month = date[1];
                            var year = date[2];
                            var today = year + "-" + month + "-" + day;
                            $("#dob").val(today);

                            $("#mob").val(serverData["Phone"]);
                            $("#address").val(serverData["Address"]);
                            $("#city").val(serverData["City"]);
                            $("#province").val(serverData["Province"]);
                            $("#religion").val(serverData["Religion"]);
                            $("#studentId :input").attr("disabled", true);
                        } else {
                            showMsg("alert-danger","Failed","No Such Student Found");
                            $("#studentData").collapse('hide');
                        }
                    },
                    error: function () {
                        showMsg("alert-danger", "Failed", " to Communicate with Server");
                    }
                });
            });
            $("#edit").click(function () {
                $("#studentData :input").attr("disabled", false);
            });
            $("#cancel").click(function () {
                $("#studentId :input").attr("disabled", false);
                $("#studentData").collapse('hide');
            });
            $("#update").click(function () {
                var clientData = {
                    StudentName: $.trim($("#stdName").val()),
                    FatherName: $.trim($("#FthName").val()),
                    Gender: $.trim($('[name=gender]').val()),
                    CNIC: $.trim($("#cnic").val()),
                    DOB: $.trim($("#dob").val()),
                    Mobile: $.trim($("#mob").val()),
                    Address: $.trim($("#address").val()),
                    City: $.trim($("#city").val()),
                    Province: $.trim($("#province").val()),
                    Religion: $.trim($("#religion").val()),
                    Id: $.trim($("#searchStudentById").val())
                };
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Home/updateStd",
                    data: { values: clientData },
                    //callback: myfunction(),
                    dataType: "json",
                    success: function (serverData) {
                        //alert(serverData);
                        var flag = 0;
                        for (var i = 0; i < serverData.length; i++) {
                            if (serverData[i] != "empty") {
                                $(serverData[i]).parent('div').addClass("has-error");
                                flag = 1;
                            }
                        }
                        if (flag == 0) {
                            $("input").each(function () {
                                switch (this.type) {
                                    case 'password':
                                    case 'text':
                                    case 'textarea':
                                    case 'file':
                                    case 'select-one':
                                    case 'select-multiple':
                                    case 'date':
                                    case 'number':
                                    case 'tel':
                                    case 'email':
                                        $(this).val('');
                                        break;
                                }
                            });
                            $("textarea").each(function () {
                                $(this).val('');
                            });
                            showMsg("alert-success", "Success", "Student's Record Update Successfully");
                            $("#studentId :input").attr("disabled", false);
                            $("#studentData").collapse('hide');
                        } else {
                            showMsg("alert-danger", "Error", "Please Correct Errors and then Continue");
                        }
                    },
                    error: function () {
                        showMsg("alert-danger", "Failed", " to Communicate with Server");
                        //alert("Critical Error!. Failed to call the server.");
                    }
                });
            });
            $("input,textarea").keyup(function () {
                if ($(this).parent().hasClass("has-error")) {
                    $(this).parent().removeClass("has-error");
                }
            });
        });
    </script>
</body>
</html>