<!DOCTYPE html>
<html>
<head>
    <title>Hostel Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery UI -->
    <link href="~/Content/online/jquery-ui.css" rel="stylesheet" media="screen">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="~/Content/css/styles.css" rel="stylesheet">
    <link href="~/Content/online/font-awesome.css" rel="stylesheet">
    <link href="~/Content/vendors/form-helpers/css/bootstrap-formhelpers.min.css" rel="stylesheet">
    <link href="~/Content/vendors/select/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/vendors/tags/css/bootstrap-tags.css" rel="stylesheet">
    <link href="~/Content/css/forms.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <!-- Logo -->
                    <div class="logo">
                        <h1><a href="/Home/index">Hostel Management System</a></h1>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group form">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="navbar navbar-inverse" role="banner">
                        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                                    <ul class="dropdown-menu animated fadeInUp">
                                        <li><a href="/Home/Logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <!-- Main menu -->
                        <li class="current"><a href="/Home/Index"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> Student Management
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="/Home/addNewStudent">Add New Student</a></li>
                                <li><a href="/Home/searchStudent">Search Student</a></li>
                                <li><a href="/Home/deleteStudent">Delete Student</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> Room Management
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="/Home/addRoom">Add New Room</a></li>
                                <li><a href="/Home/searchRoom">Search Room</a></li>
                                <li><a href="/Home/updateRoom">Update Room</a></li>
                                <li><a href="/Home/roomAllotment">Room Allotment</a></li>
                                <li><a href="/Home/addCategory">Add New Category</a></li>
                                <li><a href="/Home/updateCategory">Update Category</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> Visitor Management
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="/Home/addNewVisitor">Add New Visitor</a></li>
                                <li><a href="/Home/searchVisitor">Search Visitor</a></li>
                                <li><a href="/Home/terminateVisit">Terminate Visit</a></li>
                                <li><a href="/Home/updateVisitor">Update Visitor Record</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list" id="expandit"></i> Charges Management
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="/Home/addMessCharges">Add Charges</a></li>
                                <li class="current"><a href="/Home/updateMessCharges">Update Charges</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> User Management
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="/Home/addNewUser">Add New User</a></li>
                                <li><a href="/Home/searchUser">Search User</a></li>
                                <li><a href="/Home/deleteUser">Delete User</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="content-box-header">
                            <div class="panel-title">Student ID</div>
                        </div>
                        <div class="content-box-large box-with-header" id="studentId">
                            <form class="form-inline" role="form">
                                <fieldset>
                                    <div class="form-group col-sm-8">
                                        <div class="col-sm-6">
                                            <input type="email" class="form-control" id="searchStudentId" placeholder="Enter Student ID" onkeypress="return isNumber(event)">
                                        </div>
                                        <div class="col-sm-6">
                                            <div id="chargeDate" class="bfh-datepicker" data-format="y-m-d" data-date="today"></div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-lg" id="searchStudent">
                                        Search
                                    </button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row collapse" id="addMessCharges">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="content-box-large">
                            <div class="panel-heading">
                                <div class="panel-title">Add Mess Charges</div>

                                <div class="panel-options">
                                    <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                                    <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="stdName" class="col-sm-2 control-label">Student iD</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="stdId" placeholder="Enter Student ID">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="fthName" class="col-sm-2 control-label">Student Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="stdName" placeholder="Enter Student Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="fthName" class="col-sm-2 control-label">Father Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="FthName" placeholder="Enter Father Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="fthName" class="col-sm-2 control-label">Room No</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Enter Room No" id="roomNo">
                                        </div>
                                    </div>
                                    @*<div class="form-group">

                                        </div>*@
                                    <div class="form-group">
                                        <label for="fthName" class="col-sm-2 control-label">Room Charges</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="roomCharges" onkeypress="return isNumber(event)">
                                        </div>
                                        <label for="fthName" class="col-sm-2 control-label">Mess Charges</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="messCharges" onkeypress="return isNumber(event)">
                                        </div>
                                        <label for="fthName" class="col-sm-2 control-label">Dues</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" id="dues" onkeypress="return isNumber(event)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="fthName" class="col-sm-2 control-label">Toatl Charges</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Total Chargess" id="totalCharges" onkeypress="return isNumber(event)" disabled>
                                        </div>
                                        <label for="fthName" class="col-sm-2 control-label">Amount Paid</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" placeholder="Enter Amount" id="paid" onkeypress="return isNumber(event)">
                                        </div>
                                    </div>
                                    @*<div class="form-group">

                                        </div>*@
                                    <div class="form-group">
                                        <label for="h-input" class="col-sm-2 control-label">Date</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" placeholder="Enter Date" id="dat" data-date="today">
                                            <p class="note">
                                                Data format **/**/****
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" class="btn btn-lg btn-primary" id="addChargesOfStudent">Submit Charges</button>
                                            <button type="button" class="btn btn-lg btn-primary" id="cancel">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">

            <div class="copy text-center">
                Copyright 2014 <a href='#'>Website</a>
            </div>

        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/online/jquery.js"></script>
    <!-- jQuery UI -->
    <script src="~/Content/online/jquery-ui.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/form-helpers/js/bootstrap-formhelpers.min.js"></script>
    <script src="~/Content/vendors/select/bootstrap-select.min.js"></script>
    <script src="~/Content/vendors/tags/js/bootstrap-tags.min.js"></script>
    <script src="~/Content/vendors/mask/jquery.maskedinput.min.js"></script>
    <script src="~/Content/vendors/moment/moment.min.js"></script>
    <script src="~/Content/vendors/wizard/jquery.bootstrap.wizard.min.js"></script>
    <!-- bootstrap-datetimepicker -->
    <link href="~/Content/vendors/bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet">
    <script src="~/Content/vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>

    <link href="~/Content/online/bootstrap-editable.css" rel="stylesheet" />
    <script src="~/Content/online/bootstrap-editable.min.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <script src="~/Content/js/forms.js"></script>
    <script src="~/Content/js/jquery.blockUI.js"></script>
    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        $(document).ready(function () {
            function showMsg(class_name, msg1, msg2) {
                if ($("#alertType").length) {
                    setTimeout(function () { $("#alertType").remove(); }, 1000);
                } else {
                    var text = '    \
                            <div id="alertType" class="alert ' + class_name + '" role="alert">  \
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>    \
                                <strong>'+ msg1 + '</strong> ' + msg2 + ' \
                            </div>  \
                            ';
                    var dom = $(text);
                    //$("#searchFormId").append(dom).delay(4000).queue(function () { $("#alertType").remove(); });
                    $("#studentId").append(dom);
                    setTimeout(function () { $("#alertType").remove(); }, 3000);
                }
                $("html, body").animate({ scrollTop: 0 }, "slow");
            }
            function setDate(idToSetDate) {
                var date = new Date();
                var day = date.getDate();
                var month = date.getMonth() + 1;
                var year = date.getFullYear();
                if (month < 10) month = "0" + month;
                if (day < 10) day = "0" + day;
                var today = year + "-" + month + "-" + day;
                $(idToSetDate).attr("value", today).prop("disabled", true);
            }
            $("#searchStudent").click(function () {
                $.blockUI({
                    css: {
                        border: 'none',
                        padding: '15px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    }
                });
                var clientData = new Array();
                clientData.push($.trim($("#searchStudentId").val()));
                clientData.push($.trim($("#chargeDate").val()));                
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Home/searchStd",
                    data: { id: $("#searchStudentId").val() },
                    dataType: "json",
                    success: function (serverData) {
                        if (serverData) {
                            $("#stdId").val(serverData["std_id"]).prop("disabled", true);
                            $("#stdName").val(serverData["std_Name"]).prop("disabled", true);
                            $("#FthName").val(serverData["FatherName"]).prop("disabled", true);
                            $("#roomNo").val(serverData["Room_id"]).prop("disabled", true);
                            $("#dues").val(serverData["dues"]).prop("disabled", true);
                            //$("#dat").datepicker("setDate", new Date());
                            //setDate("#dat");
                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "/Home/getChargesOfStudent",
                                data: JSON.stringify({ 'values': clientData }),
                                dataType: "json",
                                contentType: 'application/json',
                                success: function (myData) {
                                    if (serverData) {
                                        $("#roomCharges").val(myData["roomcharges"]).prop("disabled", true);
                                        $("#messCharges").val(myData["messcharges"]);
                                        $("#totalCharges").val(parseInt($("#roomCharges").val()) + parseInt($("#messCharges").val()) + parseInt($("#dues").val()));
                                        $("#paid").val(myData["paidAmount"]);
                                        $("#dat").val($("#chargeDate").val()).prop("disabled", true);
                                        $.unblockUI();

                                        $("#studentId :input").prop("disabled", true);
                                        $("#chargeDate").prop("disabled", true);
                                        $("#addMessCharges").collapse('show');
                                    } else {
                                        $.unblockUI();
                                        showMsg("alert-danger", "Error", "Error Getting Data");
                                    }
                                },
                                error: function () {
                                    $.unblockUI();
                                    showMsg("alert-danger", "Critical Error!", "Failed to call the server.");
                                }
                            });
                        } else {
                            $.unblockUI();
                            showMsg("alert-danger", "Error", "Please Correct Errors and then Continue");
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        showMsg("alert-danger", "Critical Error!", "Failed to call the server.");
                    }

                });

            });
            $("#addChargesOfStudent").click(function () {
                $.blockUI({
                    css: {
                        border: 'none',
                        padding: '15px',
                        backgroundColor: '#000',
                        '-webkit-border-radius': '10px',
                        '-moz-border-radius': '10px',
                        opacity: .5,
                        color: '#fff'
                    }
                });
                var clientData = new Array();
                clientData.push($.trim($("#stdId").val()));
                clientData.push($.trim($("#dat").val()));
                clientData.push($.trim($("#roomCharges").val()));
                clientData.push($.trim($("#messCharges").val()));
                clientData.push($.trim($("#totalCharges").val()));
                clientData.push($.trim($("#paid").val()));
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Home/updateCharges",
                    data: JSON.stringify({ 'values': clientData }),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (serverData) {
                        if (serverData) {
                            var flag = 0;
                            for (var i = 0; i < serverData.length; i++) {
                                if (serverData[i] != "empty") {
                                    $(serverData[i]).parent('div').addClass("has-error");
                                    flag = 1;
                                }
                            }
                            if (flag == 0) {
                                $("addMessCharges input").each(function () {
                                    switch (this.type) {
                                        case 'password':
                                        case 'text':
                                        case 'textarea':
                                        case 'file':
                                        case 'select-one':
                                        case 'select-multiple':
                                        case 'date':
                                        case 'number':
                                        case 'tel':
                                        case 'email':
                                            $(this).val('');
                                            break;
                                    }
                                });
                                $("textarea").each(function () {
                                    $(this).val('');
                                });
                                showMsg("alert-success", "Success", "Charges Added Successfully");
                                $("#studentId :input").attr("disabled", false);
                                $("#addMessCharges").collapse('hide');
                                $.unblockUI();
                            } else {
                                $.unblockUI();
                                showMsg("alert-danger", "Error", "Please Correct Errors and then Continue");
                            }
                        }
                    },
                    error: function () {
                        $.unblockUI();
                        showMsg("alert-danger", "Error", "to call the server."); ("Critical Error!. Failed to call the server.");
                    }

                });

            });
            $("#messCharges").focusout(function () {
                var a = parseInt($("#roomCharges").val());
                var b = parseInt($("#messCharges").val());
                var c = parseInt($("#dues").val());
                if (isNaN(a)) {
                    a = 0;
                } else if (isNaN(b)) {
                    b = 0;
                } else if (isNaN(c)) {
                    c = 0;
                }
                $("#totalCharges").val(parseInt(a)+parseInt(b)+parseInt(c));
            });
            $("input,textarea").keyup(function () {
                if ($(this).parent().hasClass("has-error")) {
                    $(this).parent().removeClass("has-error");
                }
            });
            $("#cancel").click(function () {
                $("#studentId :input").attr("disabled", false);
                $("#chargeDate").prop("disabled", false);
                $("#addMessCharges").collapse('hide');
            });
            $('#addMessCharges').collapse({
                toggle: false
            });
            $('#expandit').trigger('click');
        });

    </script>
</body>
</html>